/*-------Aqui é onde linka as imagens dos projetos--------*/

#imagem1{
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEW-8b6x4fEQcG52YgHXyPi9j5zOM5Iy3LyoUCHY-7BNl_ggVKvtaPHgM8sCXPv7YdRcfaTaDSA-D9UDBJynnVibzP2X-8_wNY7QsrK-1ZcQhu6hiu6o8bO8_aH3-_2SzLGIaVvMKZjoZ5_qao8LEr8=w512-h288-no?authuser=0);
  }
  
  #imagem2{
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEU2qljRRALzLDhZGz84ysq8qvoyK98kwUEIjeYoZ9jR1ODn-2X3SaoF5z7MY8XDjLhtUlVDSxYUEJgYmeHgQXCtC5142jM93ahuhvbRdeTIJnX9pPPf23g45RYT5Lk3blmn2u58mMO99io56f_02lc=w512-h288-no?authuser=0);
  }
  
  #imagem3{
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEWpDLmMi5pgAcQ1vEyBPpQ6vJIMsDOujt9b26wKAoayhH-JusD0AL5O6f0j9o0uIWCW6pLNA2s2vt7g6MjQwi67U72oLi4WqOvICP6-YTrrVhyIQOA992PLSiZisZLiYHKzMZH8cLCTdVzR-WHzeF0=w512-h288-no?authuser=0);
  }
  
  #imagem4{
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEU2_7uWAHZPt_29m61nqGQ3e0j9dEZlL1L6CiIL-XPGl5XcDkGA30JTtWIvqk6VSw08WmeNK-K95QtcUyYfqA1e7zsZjBEsjUI24Wy8db0tEWCH9YeYGhk5WwN_MyOistUsJGtxN4X8rbpRTevtpXU=w512-h288-no?authuser=0);
  }
  
  #imagem5{
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEUwcn0XKsQcWgWfLQ41-RdRYGkFzPTleD1S3JWiyhuDk5TFpLi9c48RAvY1OiSGv3V5acbm8Hx_lzZnYDlqwYe2LkphGBWD35MHNs2vULAkoegZREyhLY2LpI5szrLlvUdbybAZXbjByLVuy6MGHJCk=w512-h288-no?authuser=0);
  }
  
  #imagem6{
    background-image: url();
  }
  
  #imagem7{
    background-image: url();
  }
  
  #imagem8{
    background-image: url();
  }
